<nav class="sidebar sidebar-offcanvas" id="sidebar">

    <div class="sidebar-brand">

        <h4>

            <i class="ti-shield"></i>

            Admin Panel

        </h4>

        <small>Control Center</small>

    </div>

    <ul class="sidebar-menu">

        <li>

            <a href="/dashboard" class="sidebar-link">

                <i class="ti-home"></i>

                <span>Dashboard</span>

            </a>

        </li>

        <li class="sidebar-heading">

            USER MANAGEMENT

        </li>

        <li>

        <button class="sidebar-toggle" id="userMenuToggle" type="button">
        
            <div>
                <i class="ti-user"></i>
                <span>Users</span>
            </div>
        
            <i class="ti-angle-down arrow"></i>
        
        </button>

        <div id="userMenu" class="submenu-wrapper">
        
            <ul class="submenu">
        
                <li>
                    <a href="/add-user">
                        <i class="ti-plus"></i>
                        Add User
                    </a>
                </li>
        
                <li>
                    <a href="/views">
                        <i class="ti-layout-list-thumb"></i>
                        View Users
                    </a>
                </li>
        
            </ul>
        
        </div>

        </li>

    </ul>

</nav>